body {
  background-image: url("https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");

  /* background-color: white; */
  overflow-x: hidden; /*prevents app to horizontally scroll */
  font-family: "Lato", "sans-serif";
}
